*{
    padding: 0;
    margin: 0   ;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navlink {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px   ;
    color: white;
}